* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient( to bottom right, rgba(79,51,176,1.0),rgba(210,53,165));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px #000;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 20px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button#equal {
    background-color: #2bcc70;
    color: #fff;
    
}
button.btn-number0{
    width: 130px;
    background-color: rgba(35,36,40,255);
    color: #ffffff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color:rgb(255, 255, 255);
  }

  .calculator.dark button#clear {
    background-color: #2d191e;
    color: #bd3740;
  }

  .calculator.dark button.btn-number {
    background-color: rgba(35,36,40,255);
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #f99900;
    color: #ffffff;
  }  