* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
section {
  background-color: rgb(18, 26, 31);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 400px;
  background-color: rgb(39, 55, 59);
  border-radius: 8px;
  overflow: hidden;
}
.display {
  background-color: rgb(0, 0, 0);
  height: 140px;
  width: 100%;
  text-align: right;
  padding: 30px;
  font-size: 30px;
  position: relative;
}
.display-1 {
  opacity: 0.4;
  font-size: 40px;
  height: 50px;
  overflow: hidden;
}
/* .temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.3;
} */
.all_button {
  color: whitesmoke;
  background-color: rgba(35,36,40,255);
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button {
  border: 0.5px solid rgba(92, 92, 92, 0.137);
  display: inline-block;
  height: 90px;
  width: 90px;
  margin: 5px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}
.equal {
  background-color: #2bcc70;
  color: #fff;
  
}
.operation {
  background-color: #f99900;
  color: #ffffff;
}  
.clear {
  background-color: #2d191e;
  color: #bd3740;
}
